[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=k8s-loadimages.service
Requires=k8s-loadimages.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/kube-proxy --kubeconfig /etc/kubernetes/kubeproxyconfig.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
